<h1 class="display-2">Checkout</h1>

<% if cart.present? %>
  <% if !@user.province_id.present? || !@user.address.present? || !@user.postal_code.present? || !@user.city.present?%>
    <%= form_with url: checkout_path(@user.id, :id, :address, :postal, :city), method: :put do |f| %>
      <h1 class="display-6 my-3">Your Details</h1>
      <div class="field">
        <%= f.label :address, class: "form-label" %><br />
        <%= f.text_field :address, class: "form-control min-vw-25 w-50", value: @user.address %>
      </div>

      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, autocomplete: "city", class: "form-control min-vw-25 w-50", value: @user.city %>
      </div>

      <div class="field">
        <%= f.label :postal_code %><br />
        <%= f.text_field :postal_code, autocomplete: "postal-code", class: "form-control min-vw-25 w-50", value: @user.postal_code %>
      </div>

      <div class="field">
        <%= f.label :province %><br />
        <%= f.collection_select :province_id, Province.all, :id, :code, { :prompt => 'Select a Province', :selected => @user.province_id }, { class: 'form-control min-vw-10 w-25' } %>
      </div>

      <%= button_tag 'Update' %>
    <% end %>
  <% end %>
    <h1 class="display-6 my-3">Order Summary</h1>

    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td>Game</td>
          <td class="text-end">Price</td>
          <td class="text-end">Quantity</td>
          <td></td>
        </tr>
        <% cart.each do |game| %>
          <tr>
            <td><%= game[0].title %></td>
            <td class="text-end"><%= game[0].price %></td>
            <td class="text-end d-flex justify-content-end">
              <!-- Show decrement button if qty is greater than 1 -->
              <% if game[1] > 1 %>
                <%= form_with url: cart_decrement_path(game), method: :decrement do %>
                    <%= hidden_field_tag(:cart_id, game[0].id) %>
                    <%= button_tag '-', class: "btn-sm btn-secondary mx-1 my-1"  %>
                <% end %>
              <% end %>
              <div class="m-1">
                <%= game[1] %>
              </div>
              <%= form_with url: cart_increment_path(game), method: :increment do %>
                  <%= hidden_field_tag(:cart_id, game[0].id) %>
                  <%= button_tag '+', class: "btn-sm btn-secondary mx-1 my-1" %>
              <% end %>
            </td>
            <td class="text-end">
              <%= form_with url: cart_path(game), method: :delete do %>
                <%= hidden_field_tag(:game_id, game[0].id) %>
                <%= button_tag 'Delete from Cart', class: "btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tfoot>
          <tr>
            <td class="text-end">Subtotal</td>
            <td class="text-end"><%= sprintf("%.2f", @subtotal) %> </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-end">Taxes</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-end">PST/HST</td>
            <td class="text-end"><%= sprintf("%.2f", @pst) %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-end">GST</td>
            <td class="text-end"><%= sprintf("%.2f", @gst) %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-end">Total</td>
            <td class="text-end"><%= sprintf("%.2f", @total) %> </td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>

      <%= button_to 'Submit Order', { controller: 'checkout', action: 'create', pst: :pst, gst: :gst }, { method: :post, remote: true } %>
    </div>
<% else %>
  <h1 class="display-6">There are no items in your cart.</h1>
<% end %>