<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Order Details</h1>

<p>
  <strong>Order placed on:</strong>
  <%= @order.created_at.to_date %>
</p>

<strong>Ordered Games</strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Game</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>PST/HST</th>
      <th>GST</th>
    </tr>
  </thead>

  <tbody>
    <% @order.game_orders.each do |g| %>
      <tr>
        <td><%= link_to Game.find(g.id).title, game_path(g), class: "text-decoration-none" %></td>
        <td><%= g.price %></td>
        <td><%= g.quantity %></td>
        <td><%= sprintf("%.2f", g.price * g.PST) %></td>
        <td><%= sprintf("%.2f", g.price * g.GST) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Total:</strong>
  <%= @order.paid_amount %>
</p>