<h1 class="my-3 display-4">
  <%= @game.title%>
</h1>

<div>
  <div>
    <p>Developer : <%= @game.developer.name %></p>
  </div>
  <div>
    <p>Metascore: <%= @game.metascore %> </p>
  </div>
  <div>
    <p>Price: <%= @game.price %></p>
  </div>
  <div>
    <p>Genre:</p>
    <div>
      <%= @game.genre.title %>
    </div>
  </div>
</div>